.project-content {
    width: 100%;
    padding-bottom: 3rem;
      
}


.work {
font-family: 'Roboto',sans-serif;
font-size: 10rem;
color:#3a3939;
font-weight: 900;
letter-spacing: 7px;
margin: 2rem 0 0 3rem;
}

.my-projects {
    width: 320px; 
    margin: auto;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 5px;
    display: block;
    text-align: center;
    top: -120px;
    left: -60px;
    position: relative;
    color:var(--primary-color1);
    
    transition: all 0.2s ease-in-out;
}


.project-wrapper{   
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-auto-flow: dense;
 align-items: center;
 justify-content: center;
 width: 100%;
 gap:0 15%;
 padding: 0 2rem 2rem 2rem;
 
}
 .project-wrapper:nth-child(even) > div:first-child {  
   grid-column: 2;  
 }

.project-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  width: 150px;
  height: 50px;
  line-height: 40px;
  font-size: 1rem;
  font-family:'Roboto', sans-serif;
  margin:2rem 1rem;
  padding: 0.5rem;
  text-decoration: none;
    color: var(--primary-color2);
  border: 2px solid var(--primary-color1);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  z-index: 1;
    
}
.project-links span {
    position: relative;
    z-index: 2;
  }

.project-links:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    background: var(--primary-color1);
    transition: all .35s;
  }
  
  .project-links:hover{
    color: #fff;
  }
  
  .project-links:hover:after {
    width: 100%;
  }


.project-img {
    width: 400px;
    margin-top: 2rem;
    padding: 0 3rem;
    
}
.device {
    position: relative;
    
}


.device-img {
    width: 90%;
    height: 500px;
    position: relative;
    image-resolution:from-image 300dpi;
    object-fit: contain;
    image-rendering: optimizeQuality;
   
}


  
.mobile-img {
    position: absolute;
    width:200px;
    height: 40%;
    object-fit: contain;
    bottom: 0.5rem;
    right: 1rem;
    
    
    
    
}

.project-details {
    margin-top: 2rem;
    width: 100%;
    padding: 1em;
    
   }
.project-details p {
    margin-top: 1rem;
    overflow-wrap:normal;
    width: 500px;
    line-height: 2;

}

@media only screen and (max-width:960px) {
    .project-wrapper {   
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column-reverse;
        padding: 0;
       }

       .work {
        font-family: 'Roboto',sans-serif;
        font-size: 7rem;
        color:#3a3939;
        font-weight: 900;
        letter-spacing: 7px;
        margin: 2rem 0 0 3rem;
        }
        
        .my-projects {
            width: 320px; 
            margin: auto;
            font-size: 2.5rem;
            font-weight: bold;
            text-transform: capitalize;
            letter-spacing: 5px;
            display: block;
            text-align: center;
            top: -80px;
            left: 120px;
            position: relative;
            color:var(--primary-color1);
        }
       
       
       .project-wrapper:nth-child(odd) {
        grid-template-columns: 1fr;
       
    }
       
       .project-info {
           position: relative;   
       }
       
       .project-links{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:1rem auto;
       }
       .device-img {
        width: 100%;
        height: 300px;
        position: relative;
        image-resolution:from-image 300dpi;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        image-rendering: optimizeQuality;
        margin-left: 0.7rem;
       
    }
    
    .mobile-img {
        position: absolute;
        width: 90%;
        height:70%;
        object-fit: contain;
        bottom: -5rem;
        right: -12.5rem;
        padding-bottom: 2rem;
        
        
        
    }

    .project-details{
        padding: 1.5rem 3rem;
    }

    .project-details p {
        overflow-wrap: normal;
        width: 100%;
        margin-top: 1rem;
    }
       
         
}

@media only screen and (max-width:500px) {
    
       .work {
        
        margin: auto;
        font-size: 4.5rem;
        margin-top: 2rem;
        }
        
        .my-projects {
            width: 320px; 
            margin: auto;
            font-size: 2.5rem;
            top: -70px;
            left: 30px;
            
        }

        .project-wrapper {   
            margin:-1rem auto;
            width: 100%;
            
           }
        .project1 {
            margin-top: 0;
        }
        .project-details{
            margin: 10px 0;
            padding: 1.5rem;
           
        }

      .project-details h1 {
font-size: 1.5rem;
margin-top: 1rem 0;
      } 
       
       .project-img {
        display: block;
           width: 90%; 
           margin: auto;
       } 

       .project-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:15px auto;
       }

       .device-img {
        width: 90%;
        height: 300px;
        object-fit: contain;
        
       
    }
    

       .mobile-img {
        position: absolute;
        width: 200px;
        height: 170px;
        object-fit: contain;
        bottom: -3rem;
        right: -2rem;
    
        
        
    }
       
       
       
}

@media only screen and (max-width:378px) {
    .project-details{
        padding: 1em;
    }
 .project-details p{
        font-size: 0.8rem;
        margin-top: 1rem;
    
    }

    
    
    
    
}

