.project-content {
    width: 100%;
      
}

canvas {
    z-index:0;
}
.work {
font-family: 'Roboto',sans-serif;
font-size: 10rem;
color:#3a3939;
font-weight: 900;
letter-spacing: 7px;
margin: 2rem 0 0 3rem;
}

.my-projects {
    width: 320px; 
    margin: auto;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 5px;
    display: block;
    text-align: center;
    top: -120px;
    left: -60px;
    position: relative;
    color:var(--primary-color1);
    animation: scale 2s ease-in-out infinite;
    transition: all 0.2s ease-in-out;
}

@keyframes scale {
    0%,100%{
       color: var(--primary-color1); 
       
    }50%{
        color: transparent;
    -webkit-text-stroke: 2px var(--primary-color1);
    transition: all 0.4s ease-in-out;
    }
}
.project-wrapper {   
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 80%;
 margin:5rem auto;
 gap: 15%;
}
.project1 {
    margin-top: 2rem;
}
.project2 {
    flex-direction: row-reverse;
}

.project-details h4, .project-details h1 {
    width: 400px;
    margin-left: 2rem;
}



/*.project-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem;
    background-color: var(--primary-color1);
    padding: 0.5rem;
    width: 150px;
    height: 50px;
}
*/
.project-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  width: 150px;
  height: 50px;
  line-height: 40px;
  font-size: 1rem;
  font-family:'Roboto', sans-serif;
  margin:2rem 1rem;
  padding: 0.5rem;
  text-decoration: none;
    color: var(--primary-color2);
  border: 2px solid var(--primary-color1);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  z-index: 1;
    
}
.project-links span {
    position: relative;
    z-index: 2;
  }

.project-links:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    background: var(--primary-color1);
    transition: all .35s;
  }
  
  .project-links:hover{
    color: #fff;
  }
  
  .project-links:hover:after {
    width: 100%;
  }


/*.project-info {
    position: relative
    
}*/

.project-img {
    width: 400px;
    margin-top: 2rem;
    
}
.device {
    position: relative;
    
}
.device-img {
    width: 100%;
    height: 100%;
    position: relative;
    image-resolution:from-image 300dpi;
    object-fit: cover;
    image-rendering: optimizeQuality;
   
}

.mobile-img {
    position: absolute;
    width: 100%;
    height: 75%;
    object-fit: contain;
    bottom: -5rem;
    right: -13rem;
    
    
    
}


@media screen and (max-width:900px) {
    .project-wrapper {   
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        flex-direction: column-reverse;
       }

       .work {
        font-family: 'Roboto',sans-serif;
        font-size: 7rem;
        color:#3a3939;
        font-weight: 900;
        letter-spacing: 7px;
        margin: 2rem 0 0 3rem;
        }
        
        .my-projects {
            width: 320px; 
            margin: auto;
            font-size: 2.5rem;
            font-weight: bold;
            text-transform: capitalize;
            letter-spacing: 5px;
            display: block;
            text-align: center;
            top: -80px;
            left: 120px;
            position: relative;
            color:var(--primary-color1);
        }
       
       .project-details {
        margin-top: 2rem;
       }
       .project-details h4,.project-details h1 {
           width: 400px;
           margin-left: 1rem;
           margin-top: 1rem;
       }
      /* .project-links {
           display: inline-flex;
           align-items: center;
           justify-content: center;
           margin: 2rem 1rem;
           background-color: var(--primary-color1);
           padding: 0.5rem;
           width: 150px;
           height: 50px;
       }*/
       .project-info {
           position: relative;
           
       }
       
       .project-img {
           width: 400px;
           margin-top: 2rem;
           
       } 
       
       
}

@media screen and (max-width:600px) {
    .project-wrapper {   
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        flex-direction: column-reverse;
       }

       .work {
        font-size: 5rem;
        margin: 2rem 0 0 2.3rem;
        }
        
        .my-projects {
            width: 320px; 
            margin: auto;
            font-size: 2.5rem;
            top: -80px;
            left: 50px;
            
        }
       
       
       .project-details h4,.project-details h1 {
           width: 350px;
       }
       
       .project-img {
           width: 350px; 
       } 
       
       
}

@media screen and (max-width:600px) {
    
       .work {
        font-size: 4.5rem;
        margin: 2rem 0 0 2.3rem;
        }
        
        .my-projects {
            top: -70px;
            left: 30px;
            
        }
             
}
