.skills {
    font-family: 'Roboto',sans-serif;
    font-size: 10rem;
    color:#3a3939;
    font-weight: 900;
    letter-spacing: 7px;
    margin: 2rem 0 0 3rem;
    }
    
    .my-skills {
        width: 320px; 
        margin: auto;
        font-size: 2.8rem;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 5px;
        display: block;
        white-space: nowrap;
        text-align: center;
        top: -120px;
        left: -180px;
        position: relative;
        color:var(--primary-color1);
    transition: all 0.2s ease-in-out;
    }
    
    .skills-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: auto;
        padding:0 1.5rem;
        
    }

    .skills-subtext {
        width: 80%;
        line-height: 2;
    }

    .my-skillset{
        animation: rotate 15s linear infinite;
        margin-top: 5rem;
    }

    @keyframes rotate {
       
        100%{
            transform: rotate(360deg);
        }
    }

    .my-skillset img{
        width: 400px;
        height: 400px;
    }
    .technologies {
        margin: 1rem 1.2rem;
        padding:0 2rem;
    }
    

    .techstack{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap:1rem 3rem ;
       
    }

    .techstack p{
        margin-top: 1rem;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--primary-color1);
    }

   
    @media screen and (max-width:960px) {
       .skills-info {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 2rem;
        padding: 0;
       } 
       
       
       .my-skillset {
        width: 400px;
        height: 400px;
        margin-top: 1rem;
        padding-bottom: 2rem;
    }

    .my-skillset img{
        width: 100%;
        height: 100%;
        
    }

    .skills {
        font-family: 'Roboto',sans-serif;
        font-size: 10rem;
        color:#3a3939;
        font-weight: 900;
        letter-spacing: 7px;
        margin:1rem auto;
        }
        
        .my-skills { 
            font-size: 2rem;
            top: -120px;
            left: 70px;
           
        }
        .skills-subtext {
            display: block;
            margin: auto;
            padding:0 1.3rem;
            line-height: 2;
            width: 100%;
        }

        
    }

    @media screen and (max-width:500px) {
        .skills {
            font-family: 'Roboto',sans-serif;
            font-size: 7rem;
            color:#3a3939;
            font-weight: 900;
            letter-spacing: 7px;
            margin: 1rem;
            }

            .my-skills { 
                font-size: 1.5rem;
                top: -100px;
                left: 2px;
               
            }
            .my-skillset {
                width: 300px;
                height: 300px;
                
            }
        
           
        .my-skillset img{
            width: 100%;
            height: 100%;
        }
        .techstack {
            grid-template-columns: 1fr;
        }
    }

    @media screen and (max-width:380px) {
        
        .technologies {
            margin: 1rem 0;
            padding: 0 10px;
        }

        .stack-icon{
            font-size: 0.8rem;
        }
        
    }

    

    
   
          

    
   
        