.skills {
    font-family: 'Roboto',sans-serif;
    font-size: 10rem;
    color:#3a3939;
    font-weight: 900;
    letter-spacing: 7px;
    margin: 2rem 0 0 3rem;
    }
    
    .my-skills {
        width: 320px; 
        margin: auto;
        font-size: 2.8rem;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 5px;
        display: block;
        white-space: nowrap;
        text-align: center;
        top: -120px;
        left: -180px;
        position: relative;
        color:var(--primary-color1);
    transition: all 0.2s ease-in-out;
    }
    
    .skills-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: auto;
        
    }

    .my-skillset{
        animation: rotate 15s linear infinite;
    }

    @keyframes rotate {
       
        100%{
            transform: rotate(360deg);
        }
    }

    .my-skillset img{
        width: 350px;
    }
    .technologies {
        margin: 1rem 1.2rem;
        padding:0 1.2rem;
    }
    .techstack-content {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        max-width: 400px;
        
        
    }

    .techstack{
        display: flex;
        align-items: center;
        justify-content:center;
        gap: 5px;
        margin-top: 1rem;
        width: 100%;
    }

    .stack-icon {
        color: var(--primary-color1);
    }

    @media screen and (max-width:960px) {
       .skills-info {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 2rem;
       } 

       .my-skillset {
        width: 500px;
    }

    .my-skillset img {
        width: 100%;
        
    }

    .skills {
        font-family: 'Roboto',sans-serif;
        font-size: 10rem;
        color:#3a3939;
        font-weight: 900;
        letter-spacing: 7px;
        margin: 1rem;
        }
        
        .my-skills { 
            font-size: 2rem;
            top: -120px;
            left: 5px;
           
        }
        .skills-subtext {
            display: block;
            margin: auto;
            padding:0 1.3rem;
            line-height: 2;
        }

        .technologies {
            margin: 1rem;
        }

        
    }

    @media screen and (max-width:500px) {
        .skills {
            font-family: 'Roboto',sans-serif;
            font-size: 7rem;
            color:#3a3939;
            font-weight: 900;
            letter-spacing: 7px;
            margin: 1rem;
            }

            .my-skills { 
                font-size: 1.5rem;
                top: -100px;
                left: 2px;
               
            }
            .my-skillset {
                width: 300px;
            }
        
           
        .my-skillset img{
            width: 100%;
        }
        .technologies {
            margin: 1rem;
            
        }
        
    }

    @media screen and (max-width:380px) {
        
        .technologies {
            margin: 1rem 0;
            padding: 0 10px;
        }

        .stack-icon{
            font-size: 0.8rem;
        }
        
    }

    

    
   
          

    
   
        